.auth-container {
  height: 100vh;
  background: linear-gradient(135deg, #4a00e0, #8e2de2);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.auth-box {
  background: #fff;
  padding: 40px;
  border-radius: 12px;
  width: 350px;
  text-align: center;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.2);
}

h2 {
  margin-bottom: 20px;
  color: #4a00e0;
}

input {
  display: block;
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}

button {
  background: #4a00e0;
  color: white;
  border: none;
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #662d91;
}

p {
  margin-top: 10px;
  font-size: 14px;
}

a {
  color: #4a00e0;
  cursor: pointer;
  text-decoration: underline;
}
