.perfil {
  text-align: left;
}

.perfil-info {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 15px;
}

.perfil-info img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}
